service vendor.aafd /system/vendor/bin/aafd
    disabled

on init
    start vendor.aafd

on fs
    mkdir /mnt/share
    mount 9p hostshare /mnt/share
    exec - root root -- /vendor/bin/logwrapper /vendor/bin/sh /vendor/bin/auto_detection.sh

#   previously these properties are set in auto_detection.sh, however, these properties are
#   of exported_default_prop which can only be set by init or vendor_init with treble
#   enabled, so we have to hardcod these properties here.
    setprop ro.hardware.hwcomposer intel
    setprop ro.hardware.gralloc intel
