service vendor.aafd /system/vendor/bin/aafd
    user system
    group system
    capabilities NET_ADMIN NET_BIND_SERVICE NET_RAW SYS_MODULE SYS_ADMIN
    disabled

on init
    start vendor.aafd

on fs
    mkdir /mnt/share
    mount 9p aaf /mnt/share
    exec - system system -- /vendor/bin/logwrapper /vendor/bin/sh /vendor/bin/auto_detection.sh
    setprop ro.hardware.egl ${vendor.egl.set}
    setprop ro.hardware.hwcomposer ${vendor.hwcomposer.set}
    setprop ro.hardware.gralloc ${vendor.gralloc.set}
