#Bluedroid uhid support
/dev/uhid                                    0660 bluetooth bluetooth

# Bluetooth rfkill nodes
/sys/devices/*/bluetooth/hci0/rfkill* state  0660 bluetooth bluetooth
/sys/devices/*/bluetooth/hci0/rfkill* type   0440 bluetooth bluetooth
