service watchdogd /sbin/watchdogd
    user root
    class core
    oneshot
    seclabel u:r:watchdogd:s0

on boot
    start watchdogd

{{#slot-ab}}
service efi_fw_update /vendor/bin/updater_ab_esp_static
    class main
    user root
    disabled
    oneshot

on property:vendor.ota.update.fw=true
    start efi_fw_update
{{/slot-ab}}
