on fs
    # ro.boot.hardware = TARGET_PRODUCT (set in kernel command line
    # as androidboot.hardware). Mount all the filesystems as specified
    # in the fstab.
    {{#mountfstab-flag}}
{{#treble}}
    mount_all /vendor/etc/fstab.${ro.hardware}{{#metadata_encryption}} --early{{/metadata_encryption}}
{{/treble}}
{{^treble}}
    mount_all /fstab.${ro.hardware}{{#metadata_encryption}} --early{{/metadata_encryption}}
{{/treble}}
    {{/mountfstab-flag}}

service watchdogd /system/bin/watchdogd{{#watchdog_parameters}} {{{watchdog_parameters}}}{{/watchdog_parameters}}
    user system
    class core
    oneshot
    seclabel u:r:watchdogd:s0

on charger
    start watchdogd
{{#metadata_encryption}}

# We need vold early for metadata encryption
on early-fs
    start vold

on late-fs
    # Mount latemount partitions which have not been mounted with "on fs"
    {{#mountfstab-flag}}
{{#treble}}
    mount_all /vendor/etc/fstab.${ro.hardware} --late
{{/treble}}
{{^treble}}
    mount_all /fstab.${ro.hardware} --late
{{/treble}}
    {{/mountfstab-flag}}
{{/metadata_encryption}}

on fs
   # Update dm-verity persistent state and set partition.*.verified
   # properties
   verity_update_state

{{#verity_warning}}

on init
   # Load persistent dm-verity state and detect if a restart was
   # triggered after dm-verity detected a corrupted block
   verity_load_state

on early-boot
     chmod 0440 /sys/firmware/dmi/entries/148-0/raw
     chmod 0440 /sys/firmware/dmi/entries/0-0/raw

on verity-logging
    exec u:r:slideshow:s0 -- /sbin/slideshow -t 30000 -p warning/verity_red_1 warning/verity_red_2
{{/verity_warning}}
