service watchdogd /sbin/watchdogd{{#watchdog_parameters}} {{{watchdog_parameters}}}{{/watchdog_par    ameters}}
    user root
    class core
    oneshot
    seclabel u:r:watchdogd:s0
    
on charger
    start watchdogd
