# storageproxyd is a daemon of secure storage to do operations on rpmb,
# which is a partition of eMMC, and provides encrypted and tamper proof
# storage to secure apps. storageproxyd service receives cmds from trusty
# storage app to execute read/write on rpmb and gives responses to trusty.

# storageproxyd requires sys_rawio permission to call ioctl to execute
# read/write operations on /dev/rpmb*, which is in tee domain.

allow tee self:capability sys_rawio;
allow tee block_device:dir search;
allow tee tee_device:blk_file rw_file_perms;
