service ota_coordinator /vendor/bin/ota_coordinator
    user root
    class core
    socket ota_socket stream 666 system system
    oneshot
    seclabel u:r:ota_coordinator:s0
    disabled

on boot
    mkdir /data/vendor/ota 660 system system
    mount virtiofs myfs /data/vendor/ota 
    restorecon --recursive --cross-filesystems /data/vendor/ota
    start ota_coordinator
