on boot
    setprop wifi.interface wlan0
    # enable fake battery state, details in system/core/healthd/BatteryMonitor.cpp
    # setprop ro.boot.fake_battery 1

    # Disable rild
    setprop ro.radio.noril yes
    stop ril-daemon

service wpa_supplicant /vendor/bin/hw/wpa_supplicant -Dnl80211 -iwlan0 -c/vendor/etc/wifi/wpa_supplicant.conf -g@android:wpa_wlan0
    socket wpa_wlan0 dgram 660 wifi wifi
    group system wifi inet
    oneshot
    disabled
