on post-fs
    # change permission for diagnostic purpose
    chown root diag /dev/msr0
    chown root diag /dev/msr1
    chown root diag /dev/msr2
    chown root diag /dev/msr3
    chmod 0640 /dev/msr0
    chmod 0640 /dev/msr1
    chmod 0640 /dev/msr2
    chmod 0640 /dev/msr3
