# Ignore all files at the current directory level
/*
# Allow subdirectories and their contents
!*/
# Allow all files within existing subdirectories
!*/**
# Ignore any new directories created at the root level
/*/
!.gitignore
!README
!caas/
!default
!doc.spec
!false
!mixinfo.spec
