on boot
    start adbd
    setprop net.eth0.startonboot true

on property:debug.logcat=1
    class_start debug

service logcat /system/bin/logcat -v threadtime -f /data/log.txt
    class debug

service setconsole /system/bin/setconsole -g
    class main
    user root
    oneshot

