# Note that this service must start as root to set up a mem-mapped region
# and once that is set up it will drop all unnecessary capabilities and
# will not show up as a root process in the steady state.
service hdcpd /system/vendor/bin/hdcpd
    class main
    user media
    group media shell
    seclabel u:r:hdcpd:s0

on post-fs-data
    mkdir /data/hdcp 0770 media root
    mkdir /data/coreu 0770 media root
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

on post-fs
    insmod /vendor/lib/modules/kernel/drivers/media/v4l2-core/videobuf2-core.ko
    insmod /vendor/lib/modules/kernel/drivers/media/v4l2-core/videobuf2-v4l2.ko
    insmod /vendor/lib/modules/kernel/drivers/media/v4l2-core/videobuf2-memops.ko
    insmod /vendor/lib/modules/kernel/drivers/media/v4l2-core/videobuf2-dma-contig.ko
    insmod /vendor/lib/modules/kernel/drivers/media/v4l2-core/videobuf2-vmalloc.ko
    insmod /vendor/lib/modules/kernel/drivers/media/usb/uvc/uvcvideo.ko
