on post-fs-data
    mkdir /data/hdcp 0770 media media
    mkdir /data/coreu 0770 media root
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

on boot
    setprop persist.media.pfw.verbose true

on post-fs
    insmod /vendor/lib/modules/kernel/drivers/media/v4l2-core/videobuf2-core.ko
    insmod /vendor/lib/modules/kernel/drivers/media/v4l2-core/videobuf2-v4l2.ko
    insmod /vendor/lib/modules/kernel/drivers/media/v4l2-core/videobuf2-memops.ko
    insmod /vendor/lib/modules/kernel/drivers/media/v4l2-core/videobuf2-dma-contig.ko
    insmod /vendor/lib/modules/kernel/drivers/media/v4l2-core/videobuf2-vmalloc.ko
    insmod /vendor/lib/modules/kernel/drivers/media/usb/uvc/uvcvideo.ko
