# create swap partition
service create_swap /vendor/bin/create_swap.sh
    class main
    user root
    group system
    disabled
    oneshot

# Enable swap partion
on boot
    # Read one page at a time for swap (default is 8)
    write /proc/sys/vm/page-cluster 0
    # Avoid evicting pages and use zram disk
    write /proc/sys/vm/swappiness {{swappiness}}
    # Enable disk_based_swap on Chromium kernels
    write /proc/sys/vm/disk_based_swap 1
    start create_swap

