service p2p_supplicant /system/bin/sh \
    /system/rt/hal_fuse/wpa_supplicant-start
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot
    seclabel u:r:wpa:s0

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
     class main
     disabled
     oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
     class main
     disabled
     oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
