on post-fs-data
    chmod 0660 /data/misc/wifi/p2p_supplicant.conf
    setprop wifi.interface wlan0
    setprop wifi.direct.interface p2p-dev-wlan0

on post-fs
{{^iwl_upstream_drv}}
    insmod /vendor/lib/modules/compat.ko
{{/iwl_upstream_drv}} 
    insmod /vendor/lib/modules/cfg80211.ko
    insmod /vendor/lib/modules/iwl7000_mac80211.ko
    insmod /vendor/lib/modules/iwlwifi.ko
    insmod /vendor/lib/modules/iwlmvm.ko power_scheme=1

on zygote-start
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0771 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

service dhcpcd_wlan0 /system/bin/dhcpcd -ABDKL
    class main
    user wifi
    group wifi system dhcp inet
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    user wifi
    group wifi system dhcp inet
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    user wifi
    group wifi system dhcp inet
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    user wifi
    group wifi system dhcp inet
    disabled
    oneshot
