on early-boot
    copy /sys/devices/system/cpu/online /dev/cpuset/foreground/cpus
    copy /sys/devices/system/cpu/online /dev/cpuset/background/cpus
    copy /sys/devices/system/cpu/online /dev/cpuset/system-background/cpus
    copy /sys/devices/system/cpu/online /dev/cpuset/top-app/cpus
    copy /sys/devices/system/cpu/online /dev/cpuset/foreground/boost/cpus
