{{#interactive_governor}}
on boot
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
	write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
	write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
	write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
	chown system system /sys/devices/system/cpu/cpufreq/interactive/touchboostpulse

	chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
	chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_slack
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
	chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
	chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
	chown system system /sys/devices/system/cpu/cpufreq/interactive/target_loads
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/target_loads
	chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
	chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
	chown system system /sys/devices/system/cpu/cpufreq/interactive/boost
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boost
	chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
	chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost
	chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
	chown system system /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
	chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
	# Assume SMP uses shared cpufreq policy for all CPUs
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
        #Give permission to system to use i915_videostatus sysfs interface
        chown system system /sys/class/drm/card0/power/i915_videostatus

{{/interactive_governor}}
{{#boot_boost}}
on property:sys.boot_completed=1
	write /sys/devices/system/cpu/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpufreq/interactive/irq_load_threshold 2
{{/boot_boost}}

{{#disable_cpuidle_on_boot}}
on early-init
	write /sys/devices/system/cpu/cpu0/cpuidle/state1/disable 1
	write /sys/devices/system/cpu/cpu0/cpuidle/state2/disable 1
	write /sys/devices/system/cpu/cpu0/cpuidle/state3/disable 1
	write /sys/devices/system/cpu/cpu0/cpuidle/state4/disable 1
	write /sys/devices/system/cpu/cpu0/cpuidle/state5/disable 1
	write /sys/devices/system/cpu/cpu0/cpuidle/state6/disable 1
	write /sys/devices/system/cpu/cpu0/cpuidle/state7/disable 1
	write /sys/devices/system/cpu/cpu1/cpuidle/state1/disable 1
	write /sys/devices/system/cpu/cpu1/cpuidle/state2/disable 1
	write /sys/devices/system/cpu/cpu1/cpuidle/state3/disable 1
	write /sys/devices/system/cpu/cpu1/cpuidle/state4/disable 1
	write /sys/devices/system/cpu/cpu1/cpuidle/state5/disable 1
	write /sys/devices/system/cpu/cpu1/cpuidle/state6/disable 1
	write /sys/devices/system/cpu/cpu1/cpuidle/state7/disable 1
	write /sys/devices/system/cpu/cpu2/cpuidle/state1/disable 1
	write /sys/devices/system/cpu/cpu2/cpuidle/state2/disable 1
	write /sys/devices/system/cpu/cpu2/cpuidle/state3/disable 1
	write /sys/devices/system/cpu/cpu2/cpuidle/state4/disable 1
	write /sys/devices/system/cpu/cpu2/cpuidle/state5/disable 1
	write /sys/devices/system/cpu/cpu2/cpuidle/state6/disable 1
	write /sys/devices/system/cpu/cpu2/cpuidle/state7/disable 1
	write /sys/devices/system/cpu/cpu3/cpuidle/state1/disable 1
	write /sys/devices/system/cpu/cpu3/cpuidle/state2/disable 1
	write /sys/devices/system/cpu/cpu3/cpuidle/state3/disable 1
	write /sys/devices/system/cpu/cpu3/cpuidle/state4/disable 1
	write /sys/devices/system/cpu/cpu3/cpuidle/state5/disable 1
	write /sys/devices/system/cpu/cpu3/cpuidle/state6/disable 1
	write /sys/devices/system/cpu/cpu3/cpuidle/state7/disable 1

on property:sys.boot_completed=1
	write /sys/devices/system/cpu/cpu0/cpuidle/state1/disable 0
	write /sys/devices/system/cpu/cpu0/cpuidle/state2/disable 0
	write /sys/devices/system/cpu/cpu0/cpuidle/state3/disable 0
	write /sys/devices/system/cpu/cpu0/cpuidle/state4/disable 0
	write /sys/devices/system/cpu/cpu0/cpuidle/state5/disable 0
	write /sys/devices/system/cpu/cpu0/cpuidle/state6/disable 0
	write /sys/devices/system/cpu/cpu0/cpuidle/state7/disable 0
	write /sys/devices/system/cpu/cpu1/cpuidle/state1/disable 0
	write /sys/devices/system/cpu/cpu1/cpuidle/state2/disable 0
	write /sys/devices/system/cpu/cpu1/cpuidle/state3/disable 0
	write /sys/devices/system/cpu/cpu1/cpuidle/state4/disable 0
	write /sys/devices/system/cpu/cpu1/cpuidle/state5/disable 0
	write /sys/devices/system/cpu/cpu1/cpuidle/state6/disable 0
	write /sys/devices/system/cpu/cpu1/cpuidle/state7/disable 0
	write /sys/devices/system/cpu/cpu2/cpuidle/state1/disable 0
	write /sys/devices/system/cpu/cpu2/cpuidle/state2/disable 0
	write /sys/devices/system/cpu/cpu2/cpuidle/state3/disable 0
	write /sys/devices/system/cpu/cpu2/cpuidle/state4/disable 0
	write /sys/devices/system/cpu/cpu2/cpuidle/state5/disable 0
	write /sys/devices/system/cpu/cpu2/cpuidle/state6/disable 0
	write /sys/devices/system/cpu/cpu2/cpuidle/state7/disable 0
	write /sys/devices/system/cpu/cpu3/cpuidle/state1/disable 0
	write /sys/devices/system/cpu/cpu3/cpuidle/state2/disable 0
	write /sys/devices/system/cpu/cpu3/cpuidle/state3/disable 0
	write /sys/devices/system/cpu/cpu3/cpuidle/state4/disable 0
	write /sys/devices/system/cpu/cpu3/cpuidle/state5/disable 0
	write /sys/devices/system/cpu/cpu3/cpuidle/state6/disable 0
	write /sys/devices/system/cpu/cpu3/cpuidle/state7/disable 0

{{/disable_cpuidle_on_boot}}
