on early-init

    # Create symbol link for binder device
    chmod 0666 /binderfs/binder${ro.boot.container.id}
    symlink /binderfs/binder${ro.boot.container.id} /dev/binder

    chmod 0666 /binderfs/vndbinder${ro.boot.container.id}
    symlink /binderfs/vndbinder${ro.boot.container.id} /dev/vndbinder

    chmod 0666 /binderfs/hwbinder${ro.boot.container.id}
    symlink /binderfs/hwbinder${ro.boot.container.id} /dev/hwbinder

    # Mount debugfs and make it writable so that debuggerd can
    # create stack traces, required with newer kernels
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

    # Mount cgroup mount point for cpu accounting
    mount cgroup none /acct nodev noexec nosuid cpu,cpuacct
    mkdir /acct/uid

on early-boot
    # Needed by surfaceflinger to enable it to open trace_marker
    # on start without file permissions error.
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    # tracefs is mounted after 1st access to it
    chmod 0755 /sys/kernel/debug/tracing

on init
{{#file_encryption}}
    chmod 0755 /device
    chmod 0755 /device/data
{{/file_encryption}}
    copy /dev/cpuset/cpuset.cpus /dev/cpuset/foreground/cpuset.cpus
    copy /dev/cpuset/cpuset.mems /dev/cpuset/foreground/cpuset.mems

    copy /dev/cpuset/cpuset.cpus /dev/cpuset/background/cpuset.cpus
    copy /dev/cpuset/cpuset.mems /dev/cpuset/background/cpuset.mems

    copy /dev/cpuset/cpuset.cpus /dev/cpuset/system-background/cpuset.cpus
    copy /dev/cpuset/cpuset.mems /dev/cpuset/system-background/cpuset.mems

    copy /dev/cpuset/cpuset.cpus /dev/cpuset/restricted/cpuset.cpus
    copy /dev/cpuset/cpuset.mems /dev/cpuset/restricted/cpuset.mems

    copy /dev/cpuset/cpuset.cpus /dev/cpuset/top-app/cpuset.cpus
    copy /dev/cpuset/cpuset.mems /dev/cpuset/top-app/cpuset.mems

on fs
    mount_all /fstab.${ro.hardware}

on boot
    # disable icmp redirects
    write /proc/sys/net/ipv4/conf/all/accept_redirects 0
    write /proc/sys/net/ipv6/conf/all/accept_redirects 0
