{{#enable_hw_sec}}
on post-fs-data
    mkdir /data/vendor/securestorage 0700 system system

{{#enable_storage_proxyd}}
on early-boot
    start storageproxyd

service storageproxyd /vendor/bin/storageproxyd -d /dev/trusty-ipc-dev0 -p /data/vendor/securestorage -r /dev/rpmb0
    user system
    group system
{{/enable_storage_proxyd}}
{{/enable_hw_sec}}

on post-fs
    wait_for_prop vendor.modules.trusty.ready true
