on post-fs-data
    mkdir /data/vendor/securestorage 0700 system system

on boot
    start keyboxd

service keyboxd /vendor/bin/keybox_provisioning -d /dev/trusty-ipc-dev0 -p /dev/block/by-name/teedata
    user system
    group system
    oneshot

on post-fs
    wait_for_prop vendor.modules.trusty.ready true
    chmod 666 /dev/trusty-ipc-dev0
