dontaudit kernel self:capability_class_set *;
dontaudit kernel kernel:security *;
dontaudit kernel kernel:system *;
dontaudit kernel self:memprotect *;
dontaudit kernel domain:process *;
dontaudit kernel domain:fd *;
dontaudit kernel domain:dir *;
dontaudit kernel domain:lnk_file *;
dontaudit kernel domain:{ fifo_file file } *;
dontaudit kernel domain:socket_class_set *;
dontaudit kernel domain:ipc_class_set *;
dontaudit kernel domain:key *;
dontaudit kernel fs_type:filesystem *;
dontaudit kernel {fs_type dev_type file_type}:dir_file_class_set *;
dontaudit kernel node_type:node *;
dontaudit kernel node_type:{ tcp_socket udp_socket rawip_socket } *;
dontaudit kernel netif_type:netif *;
dontaudit kernel port_type:socket_class_set *;
dontaudit kernel port_type:{ tcp_socket dccp_socket } *;
dontaudit kernel domain:peer *;
dontaudit kernel domain:binder *;
dontaudit kernel property_type:property_service *;
dontaudit kernel property_type:file *;
dontaudit kernel service_manager_type:service_manager *;
dontaudit kernel hwservice_manager_type:hwservice_manager *;
dontaudit kernel vndservice_manager_type:service_manager *;
dontaudit kernel servicemanager:service_manager list;
dontaudit kernel hwservicemanager:hwservice_manager list;
dontaudit kernel vndservicemanager:service_manager list;
dontaudit kernel keystore:keystore_key *;
dontaudit kernel domain:drmservice *;
dontaudit kernel unlabeled:filesystem *;
dontaudit kernel postinstall_file:filesystem *;


