{{#hsu}}
########################################################
#  BLUETOOTH CONFIGURATION - REALTEK SPECIFIC
########################################################
on boot
    insmod ${ro.vendor.boot.moduleslocation}/bt_lpm.ko
    insmod ${ro.vendor.boot.moduleslocation}/iptable_raw.ko
    insmod ${ro.vendor.boot.moduleslocation}/ip6table_raw.ko
    insmod ${ro.vendor.boot.moduleslocation}/6lowpan_iphc.ko
    start rfkill_bt

on post-fs
    mkdir {{path_bt_nvm}}
    chown system bluetooth {{path_bt_nvm}}
    chmod 0770 {{path_bt_nvm}}
    start bd_prov

on early-boot
    chmod 0644 {{path_bt_nvm}}/bd_addr.conf
    setprop ro.bt.bdaddr_path "{{path_bt_nvm}}/bd_addr.conf"

service rfkill_bt /system/bin/rfkill_bt.sh
    class core
    user root
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    group bluetooth wifi system dhcp
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    group bluetooth system dhcp
    disabled
    oneshot

service bd_prov /system/bin/bd_prov
    class core
    user system
    group system bluetooth
    disabled
    oneshot
{{/hsu}}
{{^hsu}}
on post-fs-data
    # To store BT paired info
    mkdir /data/misc/hcid 0770 bluetooth bluetooth

on boot
    insmod ${ro.vendor.boot.moduleslocation}/8250_dw.ko
    insmod ${ro.vendor.boot.moduleslocation}/bluetooth.ko
    insmod ${ro.vendor.boot.moduleslocation}/hci_uart.ko
    chmod 0644 /sys/kernel/debug/bluetooth/l2cap_le_max_credits
    chmod 0644 /sys/kernel/debug/bluetooth/l2cap_le_default_mps

on post-fs-data
    mkdir /data/misc/dhcp 0770 dhcp system

on property:vendor.bluetooth.hwcfg=start
    start vendor.btcfg

on property:vendor.bluetooth.hwcfg=stop
    stop vendor.btcfg

service vendor.btcfg /vendor/bin/hciattach -n /dev/ttyS1 rtk_h5
    user bluetooth
    group bluetooth
    oneshot
    disabled

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    disabled
    oneshot

on boot
    insmod ${ro.vendor.boot.moduleslocation}/iptable_raw.ko
    insmod ${ro.vendor.boot.moduleslocation}/ip6table_raw.ko
    insmod ${ro.vendor.boot.moduleslocation}/6lowpan_iphc.ko
{{/hsu}}
