
on boot
    # Read one page at a time for swap (default is 8)
    write /proc/sys/vm/page-cluster 0
{{#swappiness}}
   # Avoid evicting pages and use zram disk
    write /proc/sys/vm/swappiness 100
{{/swappiness}}

on post-fs-data
    # Enable swaps described in the fstab
{{#treble}}
    swapon_all /vendor/etc/fstab.${ro.hardware}
{{/treble}}
{{^treble}}
    swapon_all /fstab.${ro.hardware}
{{/treble}}
