on early-init
    mount tmpfs tmpfs /data  mode=0777
    mount tmpfs tmpfs /cache mode=0777
    # mount tmpfs tmpfs /system mode=0777

on init
    chmod 666 /dev/ion
    chmod 666 /dev/adf0
    chmod 666 /dev/adf-interface0.0
    chmod 666 /dev/adf-interface0.1
    chmod 666 /dev/adf-overlay-engine0.0
    chmod 666 /dev/adf-overlay-engine0.1
    chmod 666 /dev/adf-overlay-engine0.2

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw
   #mkdir /storage/usbdisk 0700 root root

    #mkdir /mnt/shell/emulated 0700 shell shell
    #mkdir /mnt/shell/emulated/0 0777 root root
    #mkdir /storage/emulated 0555 root root

    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0775 system system

    #export EXTERNAL_STORAGE /storage/emulated/legacy
   #export SECONDARY_STORAGE /storage/sdcard1:/storage/usbdisk
    #export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    #export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    #symlink /storage/emulated/legacy /sdcard
    #symlink /storage/emulated/legacy /mnt/sdcard
   #symlink /storage/sdcard1 /mnt/sdcard1
    #symlink /storage/emulated/legacy /storage/sdcard0
    #symlink /mnt/shell/emulated/0 /storage/emulated/legacy
   #symlink /storage/sdcard1 /extSdCard
   #symlink /storage/sdcard1 /mnt/extSdCard
   #symlink /storage/usbdisk /usbdisk
   #symlink /storage/usbdisk /mnt/usbdisk
   #export SECONDARY_STORAGE /storage/sdcard1

    # for android minima - bring-up for romless platform, limited hardware support
    mount tmpfs tmpfs /data  mode=0777
    mount tmpfs tmpfs /cache mode=0777
    # mount tmpfs tmpfs /system mode=0777
    mount rootfs rootfs / rw remount

    # Need read permission to /proc/cmdline for audio
    chmod 0444 /proc/cmdline
    mkdir /nvm_fs_partition 0777 misc misc

    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

# virtual sdcard daemon running as media_rw (1023)
#service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
#    class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

on boot
    class_start main

on post-fs
    # once everything is setup, no need to modify /
    mount rootfs rootfs / rw remount

