/dev/dcc    0660    system  system
/dev/ion    0666    system  system
/dev/pmem_gfx   0666    system  system
/dev/vbpipe0    0666    system  system
/dev/vbpipe1    0666    system  system
/dev/vbpipe3    0666    system  system
/dev/vbpipe5    0600    media   media
/dev/vbpipe6    0666    system  system
/dev/mali   0666    system  graphics
/dev/mali0  0666    system  system

