
on boot
    # Read one page at a time for swap (default is 8)
    write /proc/sys/vm/page-cluster 0
{{#swappiness}}
   # Avoid evicting pages and use zram disk
    write /proc/sys/vm/swappiness 10
{{/swappiness}}
{{#disk_based_swap}}
   # Enable disk_based_swap on Chromium kernels
    write /proc/sys/vm/disk_based_swap 1
{{/disk_based_swap}}

on post-fs
    exec - system system -- /vendor/bin/check_lowmem.sh

on property:vendor.le_4g_ram=1
    # Enable swaps described in the fstab
    swapon_all /vendor/etc/fstab.${ro.hardware}
