# switch adb over dwc
on property:persist.vendor.sys.usb.adbover=dwc
#    write /sys/bus/pci/devices/0000:00:14.0/dbc disable
    stop adbd
    start adbd

# switch adb over dbc
on property:persist.vendor.sys.usb.adbover=dbc && property:sys.boot_completed=1
    write /sys/bus/pci/devices/0000:00:14.0/dbc enable
    write /sys/bus/pci/devices/0000:00:15.0/dbc enable
    write /sys/bus/pci/devices/0000:39:00.0/dbc enable
    stop adbd
    start adbd
