on boot
    chmod 0644 /sys/kernel/debug/bluetooth/l2cap_le_max_credits
    chmod 0644 /sys/kernel/debug/bluetooth/l2cap_le_default_mps

on post-fs-data
    mkdir /data/misc/dhcp 0770 dhcp system

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    disabled
    oneshot

on post-fs
    insmod /vendor/lib/modules/kernel/crypto/ecdh_generic.ko
    insmod /vendor/lib/modules/kernel/net/bluetooth/bluetooth.ko
    insmod /vendor/lib/modules/kernel/drivers/bluetooth/btintel.ko
    insmod /vendor/lib/modules/kernel/drivers/bluetooth/btbcm.ko
    insmod /vendor/lib/modules/kernel/drivers/bluetooth/btrtl.ko
    insmod /vendor/lib/modules/kernel/drivers/bluetooth/btusb.ko
