on early-boot
    insmod /vendor/lib/modules/ecc.ko
    insmod /vendor/lib/modules/ecdh_generic.ko
    insmod /vendor/lib/modules/bluetooth.ko
    insmod /vendor/lib/modules/btintel.ko
    insmod /vendor/lib/modules/btusb.ko
    insmod /vendor/lib/modules/btusb_sco_snd_card.ko

on post-fs-data
    # To store BT paired info
    mkdir /data/misc/hcid 0770 bluetooth bluetooth

on boot
    chmod 0644 /sys/kernel/debug/bluetooth/l2cap_le_max_credits
    chmod 0644 /sys/kernel/debug/bluetooth/l2cap_le_default_mps

on post-fs-data
    mkdir /data/misc/dhcp 0770 dhcp system

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    user bluetooth
    group bluetooth system dhcp inet
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    user bluetooth
    group bluetooth system dhcp inet
    disabled
    oneshot
