{{#eth-driver}}
on boot
	insmod ${ro.vendor.boot.moduleslocation}/{{eth-driver}}
{{/eth-driver}}

on post-fs
	start staticip

{{#static-ip}}
service staticip /system/bin/ifconfig eth0 {{static-ip}} 255.255.255.0
{{/static-ip}}
{{^static-ip}}
service staticip /system/bin/ifconfig eth0 192.168.42.1 255.255.255.0
{{/static-ip}}
     class main
     disabled
     oneshot
     # Use seclabel since ifconfig is symlink
     # Also do not want to change symlink type
     seclabel u:r:staticip:s0
