{{#eth-driver}}
on boot
	insmod ${ro.vendor.boot.moduleslocation}/{{eth-driver}}
{{/eth-driver}}

on device-added-/dev/eth0
	start staticip

{{#static-ip}}
service staticip /system/bin/ip addr add {{static-ip}} dev eth0
{{/static-ip}}
{{^static-ip}}
service staticip /system/bin/ip addr add 192.168.11.123/24 dev eth0
{{/static-ip}}
     class main
     disabled
     oneshot
