on post-fs-data
    sysctl -w net.ipv4.tcp_keepalive_time=120
    sysctl -w net.ipv4.tcp_retries1=5
    sysctl -w net.ipv4.tcp_keepalive_intvl=15
    sysctl -w net.ipv4.tcp_slow_start_after_idle=0
    sysctl -w net.ipv4.tcp_allowed_congestion_control=0
    sysctl -w net.ipv4.neigh.wlan0.retrans_time=0
    sysctl -w net.ipv4.tcp_recovery=0
    sysctl -w net.ipv4.tcp_base_mss=1460
    sysctl -w net.ipv4.neigh.eth0.retrans_time_ms=1000
    sysctl -w net.ipv4.tcp_syn_retries=5
    sysctl -w net.ipv4.tcp_synack_retries=5
    sysctl -w net.ipv4.tcp_retries2=8

{{#eth-driver}}
on boot
	insmod ${ro.vendor.boot.moduleslocation}/{{eth-driver}}
{{/eth-driver}}

on post-fs
	start staticip

{{#static-ip}}
service staticip /system/bin/ifconfig eth0 {{static-ip}} 255.255.255.0
{{/static-ip}}
{{^static-ip}}
service staticip /system/bin/ifconfig eth0 192.168.42.1 255.255.255.0
{{/static-ip}}
     class main
     disabled
     oneshot
     # Use seclabel since ifconfig is symlink
     # Also do not want to change symlink type
     seclabel u:r:staticip:s0
