service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL
     class main
     disabled
     oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
     class main
     disabled
     oneshot

on post-fs
    insmod /vendor/lib/modules/pps_core.ko
    insmod /vendor/lib/modules/ptp.ko
    insmod /vendor/lib/modules/e1000e.ko
